
<div class="row">
  <div class="col text-center">
    <h1 class="display-3">Services</h1>
  </div>
</div>
  <div class="row">
    <div class="col text-center">
      <div class="flaticon-recruitment-bg">
        <i class="flaticon-recruitment"></i>
      </div>
      <h3>product sourcing</h3>
      <p>Instead of sourcing from Aliexpress, DHGate, Alibaba, we will only deal with factories, manufactures and pick the best price and quality.</p>
    </div>
    <div class="col text-center">
      <div class="flaticon-box-bg">
        <i class="flaticon-box"></i>
      </div>
      <h3>repack and combine order</h3>

      <p>International shipping could damage the product if your product not properly packaged.
        We will adopt a standard package to repack your product. Thus no customer complain just because
        some delivery guy happens to damage your package, which common to drop shipping order.
        And if your order different product, we could put it in 1 package to save international shipping fee.</p>
    </div>
    <div class="col text-center">
      <div class="flaticon-sale-bg">
        <i class="flaticon-sale"></i>
      </div>
      <h3>custom package</h3>
      <p>We offer a full solution for customized branding package for your dropshipping business,
        we offer hangtags, insert card, branding package with your logo.
        We private label your products, you sell all your products under on your own brands.</p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <div class="flaticon-travel-bg">
        <i class="flaticon-travel"></i>
      </div>
      <h3>Worldwide fulfillment</h3>
      <p>We remove price tags, invoices, put multi-orders into one package, and we ship products directly from China to your customers' address by E-packet, DHL, FedEx, EMS and whatever you want to use.</p>
    </div>
    <div class="col text-center">
      <div class="flaticon-track-bg">
        <i class="flaticon-track"></i>
      </div>
      <h3>quality control</h3>
      <p>We check the quality as per your request, return to factory if any issue. We will send you a picture or video for you to confirm before ship your order.</p>
    </div>
    <div class="col text-center">
      <p class="display-4">more to come</p>
      <!-- <h3 class="displa">more to come</h3> -->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>1stopdropshipping is the best product sourcing agent for small business which using aliexpress, ebay, wish or other e-commerce platform to do online business.</p>
    </div>
  </div>
