
<div class="row">
  <h1 align="center">Services</h1>
</div>
  <div class="row">
    <div class="col">
      <h3>product sourcing</h3>
      <p>send us product link, we will check with multiple factories and select the best price and quality.</p>
    </div>
    <div class="col">
      <h3>repack and combine order</h3>
      <p>International shipping could damage the product if your product not properly packaged.
        We will adopt a standard package to repack your product. Thus no customer complain just because
        some delivery guy happens to damage your package, which common to drop shipping order.
        And if your order different product, we could put it in 1 package to save international shipping.</p>
    </div>
    <div class="col">
      <h3>custom package</h3>
      <p>We offer a full solution for customized branding package for your dropshipping business,
        we offer hangtags, insert card, branding package with your logo.
        We private label your products, you sell all your products under on your own brands.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Worldwide fulfillment</h3>
    </div>
    <div class="col">
      <h3>quality control</h3>
    </div>
    <div class="col">
      <p>     </p>
    </div>
  </div>
<p>1stopdropshipping is the best product sourcing agent for small business which using aliexpress, ebay, wish or other e-commerce platform to do online business.</p>
